<template>
    <pagelayout1 />
    <pagelayout2 />
    <pagelayout3 />
    <pagelayout4 />
</template>

<script>
import { defineComponent } from 'vue';

import pagelayout1 from '../components/page/page-layout1.vue';
import pagelayout2 from '../components/page/page-layout2.vue';
import pagelayout3 from '../components/page/page-layout3.vue';
import pagelayout4 from '../components/page/page-layout4.vue';

export default defineComponent({
    components: {
        pagelayout1,
        pagelayout2,
        pagelayout3,
        pagelayout4,
    },
});
</script>

<style scoped></style>
