<template>
    <div class="d-flex flex-column align-items-center justify-content-center gap-2 bg">
        <h2 class="text-center font-title mb-2">LOREM IPSUM</h2>
        <div class="container">

            <div class="row align-items-center justify-content-center mt-5 card-gap">
                <div class="card card-shadow p-0" :style="{ width: '416px', height: '443px' }" v-for="(item, index) in data"
                    :key="index">
                    <img :src="item.thumbnail" class="card-img-top" :style="{ width: 'auto', height: '236px' }">
                    <div class="card-body" :style="{ width: '416px' }">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">{{ item.description }}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
import { defineComponent, onMounted, reactive } from 'vue';
import axios from 'axios';

export default defineComponent({
    setup() {
        let data = reactive([]);

        onMounted(async () => {
            try {
                let res = await axios.get('https://dummyjson.com/products?limit=3');
                data.splice(0, data.length, ...res.data.products);
            } catch (error) {
                console.log(error)
            }
        });
        return { data }

    }
});
</script>

<style scoped>
.bg {
    background: #D9EF0C;
    width: auto;
    height: 900px;

}

@media (max-width: 1400px) {
    .bg {
        background: #D9EF0C;
        height: auto !important;
    }
}

.card-gap {
    gap: 24px;
    padding: 12px !important;
}

.card-title {
    margin-bottom: var(--bs-card-title-spacer-y);
    color: #000;
    font-size: 26px;
}

.card-text:last-child {
    margin-bottom: 0;
    color: #333;
    font-family: Montserrat;
    font-size: 18px;
}

.card-shadow {
    border-radius: 4px;
    background: #FFF;
    box-shadow: 1px 8px 20px 2px;

    &:hover {
        outline: 4px solid #000;
    }
}

.font-title {
    color: #000;
    font-size: 60px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 82px;
    /* 136.667% */
    letter-spacing: 1.2px;
    text-transform: capitalize;
}
</style>