<template>
    <div class="container align-items-center" :style="{ height: '850px' }">
        <div class="row justify-content-md-center page-center">
            <div class="col col-lg-4">
                <div class="container p-3">
                    <span>
                        <p class="font-title font-shadow">LOREM</p>
                        <p class="font-title font-color-D9EF0C font-shadow">IPSUM</p>
                    </span>
                    <br>
                    <br>
                    <div :style="{ width: '440px' }">
                        <span class="main-detail1">Lorem Ipsum is simply Lorem Ipsum is simply Lorem Ipsum is simply</span>
                        <br>
                        <br>
                        <span class="main-detail2">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry.
                            Lorem Ipsum has been the industry's</span>
                    </div>
                </div>
            </div>
            <div class="col col-lg-8">
                <img class="page1bicycle" src="../../assets/Bicycle-PNG-Image 1.png" >
            </div>
        </div>
    </div>
</template>

<script></script>

<style scoped>
.font-title {
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}

.main-detail1 {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.main-detail2 {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    /* 27px */
}
</style>