<template>
    <div class="container align-items-center" :style="{ height: '1003px' }">
        <div class="row justify-content-md-center page-center">
            <div class="col col-lg-8" style="align-self: center">
                <img class="page1bicycle2" src="../../assets/Bicycle-PNG-Image 1.png">
            </div>
            <div class="col col-lg-4">
                <div class="container">
                    <h2 class="font-title">ติดต่อเรา</h2>
                    <br>
                    <div>
                        <div class="form__group field">
                            <input type="input" class="form__field" v-model="fullName.fullName" placeholder="ชื่อ - นามสกุล">
                            <label for="name" class="form__label">ชื่อ - นามสกุล</label>
                        </div>
                        <div class="form__group field mt-2">
                            <input type="tel" class="form__field" v-model="fullName.phoneNumber" placeholder="เบอร์ติดต่อ">
                            <label for="name" class="form__label">เบอร์ติดต่อ</label>
                        </div>
                        <div class="form__group field mt-2">
                            <input type="mail" class="form__field" v-model="fullName.email" placeholder="อีเมล">
                            <label for="name" class="form__label">อีเมล</label>
                        </div>
                        <div class="form__group field mt-2">
                            <input class="form-control custom-date-input form__field" type="date"
                                v-model="fullName.selectedDate"/>
                        </div>
                    </div>
                    <br>
                    <div class="mb-3">
                        <p class="m-0">Lorem Ipsum is simply dummy text</p>
                        <p class="m-0">Lorem Ipsum is simply dummy text</p>
                    </div>


                    <button class="btn btn-lorem mt-5" @click="LOREM">LOREM</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { defineComponent, reactive } from 'vue';



export default defineComponent({

    setup() {
        const fullName = reactive({
            fullName: '',
            phoneNumber: '',
            email: '',
            selectedDate: '',

        });

        function clearInput(fullName) {
            fullName.fullName = '';
            fullName.phoneNumber = '';
            fullName.email = '';
            fullName.selectedDate = '';
        }

        function LOREM() {
            console.log('fullName', this.fullName.fullName);
            console.log('phoneNumber', this.fullName.phoneNumber);
            console.log('email:', this.fullName.email);
            console.log('selectedDate:', this.fullName.selectedDate);
            clearInput(this.fullName);
        }

        return {
            fullName,
            LOREM,
        };
    }
})
</script>

<style scoped>
.font-title {
    color: #fff;
    font-size: 60px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 82px;
    /* 136.667% */
    letter-spacing: 1.2px;
    text-transform: capitalize;
}

.form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 392px;
}

.form__field {
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #38caef;
    font-weight: 700;
}

.form__field:required,
.form__field:invalid {
    box-shadow: none;
}

.custom-date-input::-webkit-calendar-picker-indicator {
    background-color: #ffffff;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 8px;
}

.custom-date-input[type="date"]::-moz-calendar-picker-indicator {
    background-color: #ffffff;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 8px;
}

.custom-date-input[type="date"]::-ms-clear {
    display: none;
}

.btn-lorem {
    color: #000;
    width: 290px;
    height: 56px;
    border-radius: 50px;
    background: var(--green-t-rex, linear-gradient(180deg, #DEE34B 0%, #D9EF0C 35.94%, #87A30D 100%));

    /* shadow */
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);
}
</style>