<template>
    <div>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner" :style="{ height: '900px', }">
                <div class="carousel-item page-center">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <h2 class="text-center fs-60">
                            LOREM IPSUM <span class="font-color-D9EF0C">LOREM</span>
                        </h2>
                        <img src="../../assets/Ellipse 10.png" width="200px" height="200px">
                        <p class="text-cente fs-26r">Lorem Ipsum is simply</p>
                        <p class="text-center detail">Lorem Ipsum is simply dummy text of the printing
                            and typesetting industry. Lorem Ipsum has been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon nextpage" aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0 0 55 55" fill="none">
                        <rect width="54.2568" height="55" transform="matrix(-1 0 0 1 55.0009 0)" fill="#C4C4C4" />
                        <path
                            d="M18.6172 29.491C18.2267 29.1005 18.2267 28.4674 18.6172 28.0768L24.9811 21.7129C25.3717 21.3223 26.0048 21.3223 26.3954 21.7129C26.7859 22.1034 26.7859 22.7366 26.3954 23.1271L20.7385 28.7839L26.3954 34.4408C26.7859 34.8313 26.7859 35.4645 26.3954 35.855C26.0048 36.2455 25.3717 36.2455 24.9811 35.855L18.6172 29.491ZM36.4189 29.7839H19.3243V27.7839H36.4189V29.7839Z"
                            fill="black" />
                    </svg>
                </span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon nextpage bgnextpage" aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0 0 55 55" fill="none">
                        <rect width="54.2568" height="55" fill="#D9EF0C" />
                        <path
                            d="M36.3837 29.491C36.7743 29.1005 36.7743 28.4674 36.3837 28.0768L30.0198 21.7129C29.6292 21.3223 28.9961 21.3223 28.6056 21.7129C28.215 22.1034 28.215 22.7366 28.6056 23.1271L34.2624 28.7839L28.6056 34.4408C28.215 34.8313 28.215 35.4645 28.6056 35.855C28.9961 36.2455 29.6292 36.2455 30.0198 35.855L36.3837 29.491ZM18.582 29.7839H35.6766V27.7839H18.582V29.7839Z"
                            fill="black" />
                    </svg>
                </span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</template>

<script></script>

<style scoped>
.carousel-item {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}

img {
    margin: 60px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.detail {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    width: 856px
}
</style>