@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#app {
  max-width: 100%;
  margin: 0 auto;
  font-weight: normal;
}

.page1bicycle {
  width: 858px;
}

.page1bicycle2 {
  height: 423px;
  width: 719px;
}

.fs-26 {
  font-Size: '26px'
}

.fs-60 {
  font-Size: '60px'
}


@media (max-width: 968px) {
  .page1bicycle {
      width: 450px;
      height: auto;
    }

    .page1bicycle2 {
      height: auto;
      width: 400px;
    }
}

body {
  background-color: black !important;
  color: #fff !important;
  font-family: 'Montserrat', sans-serif !important;
}

.font-color-D9EF0C {
  color: #D9EF0C !important;
}

.font-shadow {
    text-shadow: 0px 4px 30px #21612F !important;
}

.page-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
