<script setup>
import { RouterView } from 'vue-router'
// import HelloWorld from './components/HelloWorld.vue'
</script>

<template>
  <RouterView />
</template>

<style scoped>
  body {
    background: black !important;
    height: auto;
    width: 100%;
    display: flex;
  }
</style>
