<template>
    <div class="align-items-center ">
        <div class="row mt-3 align-items-center">
            <div class="col col-lg-4 d-flex align-items-center justify-content-center gap-2 mb-2">
                <img src="../assets/kindpng_546104 2.png">
                <i class="d-flex gap-2 font-logo font-shadow">
                    <span class="font-title">LOREM</span> <span class="font-color-D9EF0C">IPSUM</span></i>
            </div>
            <div class="col col-lg-8 col-sm-12 text-center">
                <ul class="nav align-items-center ">
                    <li>LOREM</li>
                    <li>
                        <span class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            LOREM
                        </span>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item">Action</a></li>
                        </ul>
                    </li>
                    <li>LOREMIPSUM</li>
                    <li>LOREM & IPSUM</li>
                    <li>LOREM</li>
                </ul>
            </div>
        </div>
    </div>
    <RouterView />
</template>


<script >
import { defineComponent } from 'vue';

import { RouterView } from 'vue-router'
export default defineComponent({
    components: {
        RouterView
    },
});
</script>

<style>

.nav {
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-size: 18px;
    gap: 30px;
}

@media (max-width: 968px) {
.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
    gap: 30px;
}
}

.font-logo {
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

icon {
    width: 74px;
    height: 87px;
}

.font-shadow {
    color: #FFF;
    text-shadow: 0px 4px 30px #21612F !important;
}
</style>